Flask
flask-cors
flask-jwt-extended
flask-pymongo
python-dotenv
requests
beautifulsoup4
undetected-chromedriver
fake-useragent
pymongo
python-dateutil
werkzeug
bson
google-generativeai
langchain
langchain-community
langchain-google-genai
faiss-cpu
